{
    "enable_mathjax": true,

    // LiveReload
    "enable_autoreload": true,

    // Configure how MathJax will be loaded
    // see: https://facelessuser.github.io/MarkdownPreview/extras/
    "js": {
        "markdown": [
            "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js",
            "res://MarkdownPreview/js/math_config.js"
        ]
    },
    "markdown_extensions": [
        {
            "pymdownx.arithmatex": {
                "generic": true,
            },
        },
        "pymdownx.github"
    ],
    "enabled_parsers": ["markdown"],
}

